<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Title</title>
</head>

<body>
    <footer th:fragment="footer" class="page-footer font-small pt-4">
        <div class="container-md">
            <div class="row">
                <div class="col-lg-6 col-sm-12 mt-md-0 mt-3 text-center">
                    <h5 class="ml-5">Sign Up For Our Newsletter</h5>
                    <div class="input-group" id="newsLetter">
                        <input type="text" id="newsLetterSearch" class="form-control" placeholder="example@email.com"
                            aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="newsLetterBtn">Submit</button>
                    </div>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-lg-3 col-6 mb-md-0 mb-3">
                    <h6>OUR BRAND</h6>
                    <ul class="list-unstyled">
                        <li>
                            <a th:href="@{aboutus}">About Us</a>
                        </li>
                        <li>
                            <a href="#!">Services</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-6 mb-md-0 mb-3">
                    <h6>HELP</h6>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Help Center</a>
                        </li>
                        <li>
                            <a th:href="@{contactUs}">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">© 2022 Copyright:
            <a th:href="@{index}"> Heptagon</a>
        </div>
    </footer>

</body>

</html>