<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Title</title>
</head>
<body>

<div th:fragment="scrollTop">
    <!-- Button on fixed on bottom right corner of the page -->
    <button class="scrollToTopBtn">&#8648;</button>
</div>




</body>
<!--REMEMBER TO PUT THIS IN EVERY PAGE
<div th:insert="fragments/scrollTop.html :: scrollTop"></div>
<script src="js/scrollTop.js"></script>-->
</html>