@media screen and (max-width: 770px) {
    #mobileView {
        display: none;
    }
    #feature {
        margin-bottom: 3rem;
    }
    #imageshowcase1, #imageshowcase2 {
        height: 28rem;
    }
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color:inherit;
}
.imageshowcase {
    height: 40rem;
    object-fit: cover;
}
canvas {
    z-index: 99; 
    transition-duration:1s;
    transition-delay:1s;
}