.loginBg{
  background:url("../img/loginBg.jpg") repeat-y fixed;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.loginBox{
  background: rgba(173,181,189,0.8);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}