#productDescription {
    height: 8rem;
    font-size: 18px;
}
#productImg {
    height: 40rem;
    width: 37rem;
    object-fit: cover;
}
.carousel-inner {
    box-shadow: 0 1rem 2rem;
}
#backbtn {
    margin-bottom: 2rem;
    width: 3rem;
    border: none;
    background-color: #f7f7f7;
}