#filter {
    height: 4rem;
    margin-top: 0.5rem;
}
.card-img-top {
    height: 25rem;
    width: 20rem;
    object-fit: cover;
}
.card {
    width: 20rem;
    background-color: #f7f7f7;
    border: none;
}
#card-btm {
    width: 19.9rem;
    height: 6rem;
}
#btnStyle {
    margin-bottom: 1rem;
}
#price {
    font-weight: bold;
}
#searchBar:focus {
    border-color: #231814;
    box-shadow: none;
}
#searchBar {
    border-radius: 15px;;
    /* text-align: center; */
    font-size: 0.9rem;
}
#searchBtn {
    border: none;
    padding: none;
    margin: none;
    outline: none;
    background-color: #f7f7f7;
}
#barSize {
    margin-right: 4rem;
    height: 2rem;
    width: 22.5rem;
    margin: auto;
}
#barSize i {
    font-size: 1.15rem;
}

.container .card .slide.slidetop {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: .7s;
    transform: translateY(100px);
}

.container .card:hover .slide.slidetop {

    transform: translateY(0px);
}

.container .card .slide.slidebtm {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    box-sizing: border-box;
    transition: .8s;
    transform: translateY(-100px);
    box-shadow: 0 1.25rem 2.5rem rgba(0,0,0,0.4);
}

.container .card:hover .slide.slidebtm {

    transform: translateY(0);
}

.container .card .slide.slidebtm::after {

    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    bottom: 15px;
    left: 50%;
    left: 50%;
    transform: translateX(-50%);
    background: #231814;
}
@media screen and (max-width: 991px) {
    #barSize {
        margin: auto;
        height: 2rem;
        width: 20rem;
    }
    #missings {
        display: none;
    }
    #productdisplay {
        margin: 2rem;
    }
}
@media screen and (max-width: 765px) {
    #searchBtn {
        display: none;
    }
}

