<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <link rel="stylesheet" href="css/base.css" />
  <link rel="stylesheet" href="css/index.css" />
  <link rel="stylesheet" href="css/about.css">
  <title>Heptagon Webpage</title>
  <meta name="description" content="Heptagon Online Shop">
  <meta name="keywords" content="Online Shop, Heptagon, Wooden">
</head>
<body>
<!-- Header -->
<!-- Navbar -->
<div th:insert="fragments/navbar.html :: navbar"></div>
<div th:insert="fragments/navbar.html :: brandname"></div>
<!-- Main Body -->
<main>
  <div class="container mt-3">
    <div id="aboutUsPage" class="row">
      <h1>About Us</h1>
      <p>This is a basic eCommerce website project made using different programming languages such as HTML,
        BootStrap, JavaScript, Java and Spring Boot. It is a responsive webpage containing landing page,
        login authentication, product page and add product admin page.</p>
    </div>
  </div>
  <div class="container mt-3">
    <div class="row">
      <section>
        <h2>Team 7</h2>
        <p>We are a group of passionate Full-Stack Developers looking to improve our coding knowledge. This is an
          ongoing project. We will improve on the site to improve the user experience.</p>
        <br>
      </section>
    </div>
  </div>
  <div class="container mb-3">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="img/tableshowcase1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Tracia, Team Lead</h5>
            <p class="card-text">An easy going individual, Tracia is constantly upgrading her
              tech knowledge so that she may network with others without getting lost in tech
              lingo. When she is home, you can find her surviving in open sandbox games.
            </p>
            <h6 class="card-text">Backend Developer, Lexly</h6>
            <ul class="card-text">
              <li>Develop and improvise the solution with C# ASP.NET Core</li>
              <li>Working closely with the project manager and software engineering team to fully undergo the complete
                software development life cycle (SDLC)</li>
              <li>Communicating and integrating backend with the frontend development team</li>
              <li>Gather requirements, plan, develop, test and deploy the solution</li>
              <li>Design, develop, and evolve Observability at Calibrate</li>
              <li>Automated testing and delivery pipelines (CI/CD)</li>
            </ul>
            <a href="https://github.com/traciaw" class="btn btn-primary">GitHub</a>
            <a href="https://www.linkedin.com/in/traciaw" class="btn btn-primary">LinkedIn</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="img/tableshowcase1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Andy</h5>
            <h6 class="card-text">Full Stack Developer, JobKred</h6>
            <ul class="card-text">
              <li>Develop data driven complex web applications</li>
              <li>Write beautiful code with scalability and maintainability as priority</li>
              <li>Brainstorm and discuss system architecture ideas, workflow improvements</li>
              <li>Learn and educate peers to cultivate good coding culture</li>
              <li>Good at data structure, algorithms, MVC design, REST API, DRY principles</li>
              <li>Experience with software versioning such as Git, commit conflict management.</li>
              <li>Sharp to find out the problem’s root cause, debugging and ability to articulate the problem
                clearly</li>
              <li>Keep track of processes with documentation</li>
              <li>PHP (Laravel), Python (Flask), Go (Echo), MySQL, Redis, Postgres, AWS, GCP</li>
            </ul>
            <a href="https://github.com/AndyT-PrimoSpade" class="btn btn-primary">GitHub</a>
            <a href="#" class="btn btn-primary">LinkedIn</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="img/tableshowcase1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Melvin</h5>
            <h6 class="card-text">Frontend Developer, Lexly</h6>
            <ul class="card-text">
              <li>Develop and improvise the solution with React JavaScript</li>
              <li>Working closely with the project manager and software engineering team to fully undergo the complete
                software development life cycle (SDLC)</li>
              <li>Communicating and integrating frontend with the backend development team</li>
              <li>Gather requirements, plan, develop, test and deploy the solution</li>
              <li>Design, develop, and evolve Observability at Calibrate</li>
              <li>Ensure the technical feasibility of UI/UX designs</li>
              <li>General programming knowledge and experience with source code management systems such as Git</li>
              <li>Experience in programming languages such as C#, Java, Java Script, C++ or C</li>
            </ul>
            <a href="https://github.com/melvin-github" class="btn btn-primary">GitHub</a>
            <a href="#" class="btn btn-primary">LinkedIn</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- Footer -->
<div th:insert="fragments/scrollTop.html :: scrollTop"></div>
<div th:insert="fragments/footer.html :: footer"></div>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/scrollTop.js"></script>
<!-- <script const searchButton=document.getElementById('search-button'); const
  searchInput=document.getElementById('search-input'); searchButton.addEventListener('click', ()=> {
      const inputValue = searchInput.value;
      alert(inputValue);
    });
  </script> -->
</body>

</html>