<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/base.css" />
  <link rel="stylesheet" href="css/index.css" />
  <link rel="stylesheet" href="css/about.css" />
  <link rel="shortcut icon" href="img/favicon.ico" />
  <title>About Us</title>
  <meta name="description" content="Heptagon Online Shop">
  <meta name="keywords" content="Online Shop, Heptagon, Wooden">
</head>

<body>
  <!-- Header -->
  <!-- Navbar -->
  <div th:insert="fragments/navbar.html :: navbar"></div>
  <div th:insert="fragments/navbar.html :: brandname"></div>
  <!-- Main Body -->
  <main>
    <!--START OF GET TO KNOW US-->
    <section>

      <div class="container-fluid mt-3">
        <div class="jumbotron">
          <div class="row mb-4">
            <h2 id="teamTop" class="text-center">
              <div class="con">
                <span class="word">
                  <span>G</span>
                  <span>e</span>
                  <span>t &nbsp;</span>
                  <span>T</span>
                  <span>o &nbsp;</span>
                  <span>K</span>
                  <span>n</span>
                  <span>o</span>
                  <span>w &nbsp;</span>
                  <span>U</span>
                  <span>s</span>
                </span>
              </div>
            </h2>
          </div>
        </div>
      </div>
      <!--END OF WHO WE ARE-->

      <!--START OF WHO WE ARE-->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-12 mx-auto">
              <img id="teamImage" src="img/teams.jpg" class="rounded">
            </div>
            <div id="introText" class="col-lg-6 col-md-12 mx-auto">
              <p><strong>This is a basic eCommerce website project made using different programming
                  languages such as HTML, BootStrap, JavaScript, Java and Spring Boot.
                  It is a responsive webpage containing landing page, login authentication, product page and add product
                  admin page.
                  <br>This is an ongoing project. We will continuously work on the site to improve the
                  user experience.</strong></p>
              <br />
              <h2> 😁 Who We Are?</h2>
              <p>We are a group of passionate Full-Stack Developers looking to improve our coding
                knowledge.<br>
                We started out at the start of 2022 under Generation Singapore in
                collaboration with Temasek Polytechnic and Microsoft.<br>
                Special thanks to Jean Looi for her guidance and unwavering support.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!--END OF WHO WE ARE-->

      <!--START OF PERSONAL BIO-->
      <section class="team">
        <div clas="container">
          <div class="row team mt-4">
            <h2 class="teamHeader">Meet the Team</h2>
            <div class="teamRow">
              <div class="teamMember">
                <img src="img/traciapic.jpg">
                <h3>Tracia Wee</h3>
                <p> Constantly upgrading her tech knowledge so that she may network with others without getting lost in
                  tech lingo. Loves hiking, gaming and good bois 🐶</p>
                <a href="https://github.com/traciaw" target="_blank" class="btn btn-outline-secondary">GitHub</a>
                <a href="https://www.linkedin.com/in/traciaw" target="_blank" class="btn btn-outline-secondary">LinkedIn</a>
              </div>
              <div class="teamMember">
                <img src="img/AndyDP.PNG">
                <h3>Andy Tan</h3>
                <p>Always curious about analysis in all data and how to use them to solve problems.
                  <br>Keen to learn new things even when it is useless. 😭
                  <br>Love to play game during free time.
                </p>
                <a href="https://github.com/AndyT-PrimoSpade" target="_blank" class="btn btn-outline-secondary">GitHub</a>
                <a href="https://www.linkedin.com/in/ydnaprimo/" target="_blank" class="btn btn-outline-secondary">LinkedIn</a>
              </div>
              <div class="teamMember">
                <img src="img/mushroom.jpg">
                <h3>Melvin Lim</h3>
                <p>"A snooze button is a poor substitute for no alarm clock at all."
                </p>
                <a href="https://github.com/melvin-githu" target="_blank" class="btn btn-outline-secondary">GitHub</a>
                <a href="#" class="btn btn-outline-secondary">LinkedIn</a>
              </div>
            </div>
          </div>
        </div>

      </section>
      <!--END OF PERSONAL BIO-->
  </main>
  <!-- Footer -->
  <div th:insert="fragments/scrollTop.html :: scrollTop"></div>
  <div th:insert="fragments/footer.html :: footer"></div>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/scrollTop.js"></script>
  <script src="js/base.js"></script>
</body>

</html>