<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <link rel="stylesheet" href="css/base.css" />
  <link rel="stylesheet" href="img/" />
  <title>Heptagon Webpage</title>
  <meta name="description" content="Heptagon Online Shop">
  <meta name="keywords" content="Online Shop, Heptagon, Wooden">
</head>

<body>
  <!-- Header -->
  <!-- Navbar -->
  <div th:insert="fragments/navbar.html :: navbar"></div>
  <div th:insert="fragments/navbar.html :: brandname"></div>
  <body>
    <!--Start of Product image & product detail-->
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-6">
          <!--Start of image carousel-->
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-furniture active">
                <img id="productImg" src="img/consoletable1.jpg" class="d-block w-100" alt="Product Name A1">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <!--End of image carousel-->
        </div>
        <div class="col-md-6">
          <!--Start of product form-->
          <div class="row">
            <div class="col-md-12">
              <h1 id="productName">Name</h1>
              <h4 class="productPrice" id="productPrice">$price</h4>
            </div>
             <div class="row">
              <div class="col-md-12">
                <p class="productDescription" id="productDescription">description</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="productDimension">
                  <h6>Dimension: <span id="length">Length</span> x <span id="width">Width</span> x <span id="height">Height</span></h6>
                </div>
              </div>
            </div>
            <div>
            <button type="submit" class="btn btn-secondary">Add to Cart </button>
          </div>
      </div>
      <!--End of product form-->
    </div>
    </div>
    </div>
    <!--End of Product image and product detail-->

    <div class="container mt-3">
      <div class="row"></div>
    </div>

    <!-- Footer -->
    <div th:insert="fragments/footer.html :: footer"></div>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/pdtDescription.js"></script>

  </body>

</html>